ROM0
	FLOATING
	"_HOME" OPTIONAL
	"_BASE" OPTIONAL
	"_CODE_0" OPTIONAL
	"_LIT_0" OPTIONAL
	"_INITIALIZER" OPTIONAL ; Initializer of `_INITIALIZED`.
	"_GSINIT" OPTIONAL ; Reportedly internal to the crt0... there's some trickery here, TODO: investigate.
	"_GSFINAL" OPTIONAL

ROMX FLOATING
	FLOATING
	"_CODE" OPTIONAL
	"_LIT" OPTIONAL

WRAM0
	FLOATING
	"_DATA" OPTIONAL ; Uninit'd RAM.
	"_BSS" OPTIONAL ; Zero-init'd RAM.
	"_INITIALIZED" OPTIONAL ; Initialised by `_INITIALIZER`.
	"_DABS (ABS)" OPTIONAL ; TODO: what is this?
