ROM0
  FLOATING
  "_INITIALIZER"
ROM0
  FLOATING
  "_GSFINAL"
ROM0
  FLOATING
  "_GSINIT"
ROM0
  FLOATING
  "_HOME"
WRAM0
  FLOATING
  "_INITIALIZED"
WRAM0
  FLOATING
  "_DATA"
ROM0
  FLOATING
  "_CODE"

